@page "/learnblazor/blazorjs"
@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime

<h3>Blazor JS</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test Confirm</button>
</div>

<div class="row">
    @if (ConfirmResult)
    {
        <p>Confirmation was been made!</p>
    }
    else
    {
        <p>The Confirmation is pending</p>
    }
</div>

<div class="row">
    <button class="btn btn-success" @onclick="ShowToastrSuccess">Toastr success</button>
    <button class="btn btn-danger" @onclick="ShowToastrError">Toastr failure</button>
</div>

@code {
    private string ConfirmMessage = "Are you sure do you want to click here?";
    private bool ConfirmResult { get; set; }

    private async Task TestConfirmBox()
    {
        // ConfirmMessage = await JSRuntime.InvokeAsync<string>("showConfirm", ConfirmMessage);
        ConfirmResult = await JSRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }

    private async Task ShowToastrSuccess()
    {
        // await JSRuntime.InvokeVoidAsync("showToastr", "success", "This is a success message!", "success");
        await JSRuntime.ToastrSuccess("This is a success message with extension!");
        // IJSRuntimeExtensions.ToastrSuccess 
    }

    private async Task ShowToastrError()
    {
        // await JSRuntime.InvokeVoidAsync("showToastr", "error", "This is a error message!", "error");
        await JSRuntime.ToastrError("This is a error message with extension!");
    }
}
