@page "/learnBlazor/learnRouting"
@page "/learnBlazor/learnRouting/{Param1:int}"
@page "/learnBlazor/learnRouting/{Param1:int}/{Param2}"
@page "/learnBlazor/learnRoutingExample"
@page "/learnBlazor/learnRouting/catch-all/{*PageParameters}"
@page "/learnBlazor/learnRouting/learnBlaz"


<h3>Learn Routing</h3>

<p>Parameter 1 value: @Param1</p><br />
<p>Parameter 2 value: @Param2</p>
<p>Page Parameters value: @PageParameters</p>

<div class="bg-info" style="height: 1000px">
</div>
<h2 id="targetElement">Main Title</h2>

@code {
    [Parameter] 
    public int Param1 { get; set; }
    [Parameter]
    public string? Param2 { get; set; }
    [Parameter]
    public string? PageParameters { get; set; }
}
