@page "/learnBlazor/parentComponent"

<h3>Parent Component</h3>

@* <_ChildComponent Title="Hello from Parent Component!" OnButtonClick="ShowMessage"
                 MessageForGrandChild="Hello from Father Component to Grand Child!">
    <ChildSomeContent> <p>This is some content passed from the Parent Component to the Child Component.</p></ChildSomeContent>
    <ChildContent>
        <p>Some text inside the ChildContent from parent component</p>
        <br />
        <p class="text-primary">Some other text</p>
    </ChildContent>
</_ChildComponent> *@
<CascadingValue Value="@MessageForGrandChild" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <_ChildComponent @ref="childComp" Title="Hello from Parent Component!" OnButtonClick="ShowMessage">
            <ChildSomeContent> <p>This is some content passed from the Parent Component to the Child Component.</p></ChildSomeContent>
            <ChildContent>
                <p>Some text inside the ChildContent from parent component</p>
                <br />
                <p class="text-primary">Some other text</p>
            </ChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>@MessageText</p>

<div class="row">
    <button class="btn btn-success">Show SweetAlert</button>
</div>

@* <_ChildComponent Title="Hello from Parent Component!">
</_ChildComponent> *@

@code {
    private _ChildComponent? childComp;

    public string? MessageText { get; set; } = string.Empty;
    private string MessageForGrandChild { get; set; } = "Hello from Father Component to Grand Child!";
    private int LuckyNumber { get; set; } = 7;

    private void ShowMessage()
    {
        MessageText = "Button clicked in Child Component!";
    }
}
